variables:
  ECR_REGISTRY: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com
  ECR_REPOSITORY: ${REPO_NAME}
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  S3_BUCKET_NAME: "votre-bucket-angular-ici"
  TF_BACKEND_BUCKET: "votre-bucket-terraform"
  TF_LOCK_TABLE: "terraform-lock"
  AWS_DEFAULT_REGION: ${AWS_REGION}

# -----------------------------
# 0) PACKAGE LAMBDA ZIP
# -----------------------------
package_lambda:
  stage: validate
  image: node:18
  script:
    - mkdir -p dist
    - cd lambda/worker && npm install && zip -r ../../dist/lambda_nodejs.zip .
  artifacts:
    paths:
      - dist/lambda_nodejs.zip
  rules:
    - changes:
        - lambda/worker/**/*

# -----------------------------
# 1) TERRAFORM
# -----------------------------
terraform_validate:
  stage: validate
  image: hashicorp/terraform:light
  script:
    - cd terraform/dev
    - terraform init -backend-config="bucket=${TF_BACKEND_BUCKET}" -backend-config="key=dev/terraform.tfstate" -backend-config="region=${AWS_REGION}" -backend-config="dynamodb_table=${TF_LOCK_TABLE}"
    - terraform validate

terraform_plan:
  stage: validate
  image: hashicorp/terraform:light
  needs:
    - job: package_lambda
      artifacts: true
  script:
    - cd terraform/dev
    - terraform init -reconfigure -backend-config="bucket=${TF_BACKEND_BUCKET}" -backend-config="key=dev/terraform.tfstate" -backend-config="region=${AWS_REGION}" -backend-config="dynamodb_table=${TF_LOCK_TABLE}"
    - terraform plan -out=tfplan -var="image_tag=$CI_COMMIT_SHORT_SHA" -var="db_password=$TF_VAR_db_password" -var="lambda_zip_path=${CI_PROJECT_DIR}/dist/lambda_nodejs.zip"
  artifacts:
    paths:
      - terraform/dev/tfplan

# ... (les autres étapes build/package restent inchangées)

deploy_static_s3:
  stage: deploy
  image: amazon/aws-cli
  needs:
    - job: build_frontend
      artifacts: true
  script:
    - aws s3 sync product-service-fe/dist/product-service-fe/ s3://$S3_BUCKET_NAME --delete --region $AWS_REGION
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual